* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
}

header {
    background: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    padding: 20px;
}

#logo a {
    font-size: 32px;
    float: center;
    color: rgb(255, 221, 0);
    margin-top: 10px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: rgb(255, 221, 0);
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    border-radius: 20px;
}

/* Animaatio */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
}

.animated-circle {
    background: transparent;
    height: 5%;
    width: 5%;
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.animated-circle:hover {
    animation-play-state: paused;
}

@keyframes example {
    0% {
        top: 0px;
        left: 0px;
    }

    25% {
        top: 100px;
        left: 40%;
    }

    50% {
        top: 200px;
        left: 40%;
    }

    100% {
        top: 0px;
        left: 0px;
    }
}

@media only screen and (max-width: 900px) {
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

/* Footer */
footer {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 8px;
}

footer form {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

footer form .form-group {
    margin: 2rem 0;
    display: flex;
}

footer form label {
    width: 200px;
    display: inline-block;
    text-align: left;
}

footer form .form-group input,
footer form .form-group textarea {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    width: 60%;
    font-size: 1rem;
}

footer form .form-group textarea {
    min-height: 100px;
}

footer button {
    background-color: coral;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 1rem 2rem;
    color: #fff;
    font-size: inherit;
}